<style>
    .shopping-cart-widget {
        background-color: var(--primary-background-color);
        color: var(--primary-color);
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
    }

    .shopping-cart-widget p {
        margin: 0;
        color: #fff;
    }

    .shopping-cart-widget i {
        font-size: 1rem;
        color : #fff;
    }

    .shopping-cart-widget button {
    }

    @media (max-width: 768px) {

        .shopping-cart-widget i {
        }

        .shopping-cart-widget button {
            width: 100%;
        }
    }
</style>
<section *ngIf="userService.currentUserSignal()">
    <div class="shopping-cart-widget rounded p-1">
        <p class="me-3"> <i class="fas fa-shopping-cart"></i> {{shoppingCart.items.length}} - {{shoppingCart.totalPrice}} {{shoppingCart.currency}}</p> 
        <button *ngIf="shoppingCart.items.length > 0" class="btn btn-danger" (click)="goToShoppingCart()">Finish order</button>
    </div>
</section>