<section class="container rounded mt-3 p-2 trip" 
        [ngClass]="{warning : isAlmostFull(1)}"
        [ngStyle]="{'border-color':borderColour}">
    <h1 class="text-center"> {{trip.name}}</h1>
    <picture>
        <img class="photo" [src]="getImageUrl()" alt="trip photo">
    </picture>
    <div id="description">
        <p>{{trip.destination}}</p>
        <p>{{trip.description}}</p>
        <p>Start date: {{trip.startDate}}</p>
        <p>End date: {{trip.endDate}}</p>
        <p>Available slots: {{trip.available}}</p>
    </div>

    <div id="price">
        <select class="form-select" (change)="calculatePrice($event)">
            <option *ngFor="let key of currenciesMap | keyvalue" [value]="key.key">{{key.key}}</option>
        </select>
        <p>Price: {{ adjustedPrice ?? trip.price }} {{currency}}</p>
    </div>

    <div id="trip-page-button">
        <button class="btn btn-primary pl-4 pr-4" (click)="goToTripPage()">Trip Page</button>
    </div>
    <div *ngIf="isAdmin()" id="trip-page-button">
        <button class="btn btn-primary pl-4 pr-4" (click)="goToUpdateTripPage()">Edit Trip</button>
    </div>
</section>
