<section id="filters" class="container border border-dark rounded p-3">
    <form>
        <div class="d-flex flex-column">
            <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (input)="searchFor($event)" placeholder="Search trips">
            <label for="price">Price</label>
            <input type="number" id="price" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByPriceMin">
            <input type="number" id="price" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByPriceMax">

            <label for="ratings">Ratings</label>
            <div id="rating-checkboxes">
                <input type="checkbox" id="ratings" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByRatings[0]" [value]="false">
                <label for="ratings">0</label>
                <input type="checkbox" id="ratings" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByRatings[1]" [value]="false">
                <label for="ratings">1</label>
                <input type="checkbox" id="ratings" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByRatings[2]" [value]="false">
                <label for="ratings">2</label>
                <input type="checkbox" id="ratings" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByRatings[3]" [value]="false">
                <label for="ratings">3</label>
                <input type="checkbox" id="ratings" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByRatings[4]" [value]="false">
                <label for="ratings">4</label>
                <input type="checkbox" id="ratings" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByRatings[5]" [value]="false">
                <label for="ratings">5</label>
            </div>

            <label for="destination">Destination</label>
            <select id="destination" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByDestination" [(ngModel)]="filterByDestination">
                <option *ngFor="let destination of getDestinationOptions()" [value]="destination" >{{destination}}</option>
            </select>

            <label for="dates">Dates</label>
            <input type="date" id="dates" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByDatesMin">
            <input type="date" id="dates" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterByDatesMax">

            <label for="sortBy">Sort by</label>
            <select id="sortBy" [ngModelOptions]="{standalone: true}" [(ngModel)]="sortBy">
                <option value="price">Price</option>
                <option value="-price">Price (descending)</option>
                <option value="name">Name</option>
                <option value="-name">Name (descending)</option>
                <option value="ratings">Ratings</option>
                <option value="-ratings">Ratings (descending)</option>
                <option value="destination">Destination</option>
                <option value="-destination">Destination (descending)</option>
            </select>
        </div>
        <button type="button" (click)="applyFilters()">Filter</button>
        <button type="button" (click)="resetFilters()">Reset filters</button>
    </form>
</section>