<section class="container rounded mt-3 p-2 trip" 
        [ngClass]="{warning : isAlmostFull(1)}"
        [ngStyle]="{'border-color':borderColour}">
    <h1 class="text-center"> {{trip.name}}</h1>
    <picture>
        <img class="photo" [src]="trip.image" alt="trip photo">
    </picture>
    <div id="description">
        <p>{{trip.description}}</p>
        <p>Start date: {{trip.startDate}}</p>
        <p>End date: {{trip.endDate}}</p>
        <p>Available slots: {{trip.maxSlots - trip.reservedSlots}}</p>
    </div>

    <div id="price">
        <select class="form-control"(change)="calculatePrice($event)">
            <option *ngFor="let key of currenciesMap | keyvalue" [value]="key.key">{{key.key}}</option>
        </select>
        <p>Price: {{ adjustedPrice ?? trip.unitPrice }}</p>
    </div>

    <div id="reservation-buttons">
        <button *ngIf="shouldDisplayPlusButton()" class="btn btn-success pl-4 pr-4" (click)="reserve()">+</button>
        <button *ngIf="shouldDisplayMinusButton()" class="btn btn-danger pl-4 pr-4" (click)="cancel()">-</button>
    </div>

    <div id="control-buttons">
        <!-- <button class="btn btn-primary pl-4 pr-4" (click)="edit()">Edit</button> -->
        <button class="btn btn-danger pl-4 pr-4" (click)="remove()">Remove</button>
    </div>

    <div id="rating">
        <p>Average rating: {{trip.averageRating.toFixed(2)}}</p>
        <p>Number of reviews: {{trip.ratings.length}}</p>
        <button class="btn btn-primary pl-4 pr-4" (click)="rate()">Rate</button>
    </div>
</section>
