<section class="container border-dark border rounded p-3 mt-5 mb-5 pb-5">
    <form class="d-flex flex-column" [formGroup]="tripForm">
        <h3 class="text-center"> Update Trip </h3>
        <div id="inputs" class="d-flex flex-column justify-content-around m-3">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" formControlName="name">
        
            <label for="destination">Destination</label>
            <input class="form-control" type="text" id="destination" formControlName="destination">

            <label for="description">Description</label>
            <input class="form-control" type="text" id="description" formControlName="description">
        
            <label for="startDate">Start Date</label>
            <input class="form-control" type="date" id="startDate" formControlName="startDate">

            <label for="endDate">End Date</label>
            <input class="form-control" type="date" id="endDate" formControlName="endDate">

            <label for="price">Price</label>
            <input class="form-control" type="number" id="price" formControlName="price">

            <!-- available options USD/EUR/PLN -->
            <label for="currency">Currency</label>
            <select class="form-select" id="currency" formControlName="currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="PLN">PLN</option>
            </select>
        
            <label for="maxSlots">Max Slots</label>
            <input class="form-control" type="number" id="maxSlots" formControlName="maxSlots">
        
            <label class="form-check-label" for="shouldUpdateImage">Would you like to update image?</label>
            <input class="form-check-input" type="checkbox" id="shouldUpdateImage" value="willUpdateImageFlag" (change)="showImageField()">

            <label *ngIf="willUpdateImageFlag" for="image">Image</label>
            <input class="form-control" *ngIf="willUpdateImageFlag" type="file" id="image" (change)="onFileSelected($event)" formControlName="image">
        </div>
        <button class="btn btn-outline-primary" type="submit" (click)="onSubmit()">Update trip</button>
    </form>
</section>

